* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// ------------------------------------------bg
.auth {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.colorBg {
  position: absolute;
  filter: blur(150px);

  &:nth-child(1) {
    /* pour les  3 couleurs des enfants de color pour le bg du body en gradiant si on enleve filter dans color on comprend mieux  */
    top: -350px;
    width: 100%;
    height: 600px;
    background: $orange;
    border-radius: 0% 0% 100% 100%;
  }
  &:nth-child(2) {
    bottom: -150px;
    left: 0px;
    width: 50%;
    height: 700px;
    background: $yellow;
    border-radius: 100% 0% 100% 0%;
  }
  &:nth-child(3) {
    /* pour les  3 couleurs des enfants de color pour le bg du body en gradiant si on enleve filter dans color on comprend mieux  */
    bottom: -150px;
    right: 0px;
    width: 50%;
    height: 700px;
    border-radius: 0% 100% 0% 100%;

    background: $aqua;
  }
}

.containerForm {
  width: 60%;

  display: flex;
  justify-content: space-evenly;
  .containerLogo {
    display: flex;
    justify-content: center;
  }
  h1 {
    color: $black;
    // z-index: 10;
    // position: absolute;
    // background: white;
  }

  // -------------------------------------form

  .form {
    width: 700px;
    // inset: 162px 121px; // ajuster dimension du form  inset: 162px 121px;
    position: relative;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    padding: 50px 40px;

    display: flex;
    flex-wrap: wrap;

    h2 {
      color: $orange;
      font-weight: 500;
      letter-spacing: 0.1em;
      position: absolute;
      left: 5px;
      top: 5px;
    }
    .inputBox {
      position: relative;
      width: 300px;
      margin-top: 35px;
      margin-left: 10px;

      input {
        position: relative;
        width: 100%;
        padding: 15px 10px 10px; // avec span
        background: none;
        border-radius: 15px;
        border: none;
        outline: none;
        color: $white;
        font-size: 1rem;
        letter-spacing: 0.05em;
        z-index: 10;

        // si dans input valid ou focus le span translate en y
        &:valid ~ span,
        &:focus ~ span {
          color: $orange;
          transform: translateX(0px) translateY(-34px);
          font-size: 0.75em;
        }

        // &:active ~ i,
        &:valid ~ i {
          /* le i s'ecarts'agrandit */
          height: 35px;
        }
      }
      span {
        position: absolute;
        left: 0;
        padding: 15px 0px 10px; /*haut horizontal bas*/
        font-size: 1rem;
        color: $black;
        pointer-events: none; /* quel fait la souris comme evenement La propriété CSS pointer-events permet de contrôler les circonstances dans lesquelles un élément graphique peut être une cible, c'est-à-dire recevoir des évènements de la souris, du pointeur ou du doigt. */
        letter-spacing: 0.5rem;
        transition: 0.5s;
      }
      i {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(45deg, #f79200, #000000ad);
        border-radius: 15px;
        transition: 0.5s;
        pointer-events: none;
        z-index: 9;
      }
    }
    .square {
      display: flex;
      flex-direction: column;
      justify-content: center;

      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(
        5px
      ); /*pour le flou la visibilité comme opacity \en-US\docs\Web\CSS\backdrop-filter */
      box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);

      border: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;

      p {
        margin-bottom: 5px;
      }

      /* --------------------------------------les carrés  */

      &:nth-child(8) {
        position: absolute;

        bottom: -55px;
        right: 0px;
        width: 153px;
        height: 50px;
        z-index: 2;
        --i: 2;
        border-radius: 50px;
      }
      &:nth-child(9) {
        position: absolute;
        top: 150px;
        left: -85px;
        width: 120px;
        height: 120px;
        font-weight: 700;

        cursor: pointer;
        z-index: 2;
        text-align: center;

        --i: 1;
        a {
          text-decoration: none;
        }
      }
      &:nth-child(10) {
        position: absolute;
        top: -50px;
        right: -60px;
        width: 100px;
        height: 100px;
        text-align: center;

        --i: 0;
      }
      &:nth-child(11) {
        position: absolute;
        bottom: -80px;
        left: 100px;
        width: 250px;
        height: 50px;
        text-align: center;
        --i: 3;
      }
      &:nth-child(12) {
        position: absolute;
        top: -80px;
        right: 140px;
        width: 60px;
        height: 60px;
        --i: 4;
      }
    }
    .animationSquare {
      animation: animateSquare 10s linear infinite;
      animation-delay: calc(-1s * var(--i)); /*les variables du html*/
    }
  }

  .box {
    margin-left: 1rem;
    border-left: solid 1px rgba(43, 37, 3, 0.8);
  }
}
