.PostShare {
  background: $blackLight;
  margin: 10px 0;
  border-radius: 20px;
  .imageAndInput {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    gap: 1rem;
    img {
      width: 50px;
    }
    input {
      padding: 10px 0px;
      border-radius: 15px;
      flex-basis: 90%;
      outline: none;
    }
  }
  .containeOption {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .postOptions {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-bottom: 10px;
      .option {
        color: $aqua;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }
    button {
      position: relative;
      width: 90px;
      border: none;

      &::before,
      &::after {
        content: "";
        position: absolute;
        inset: 0;

        transition: 0.5s;
        background: linear-gradient(45deg, $aqua, $black, $black, $aqua);
      }
      &:hover::before,
      &:hover::after {
        inset: -1px;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: $black;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        letter-spacing: 4px;
        color: $aqua;
        border: 1px solid $black;
        overflow: hidden; /* pour le .container a span:before*/
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -50%;
          width: 100%;
          height: 100%;
          background: $blackLight;
          transform: skew(76deg);
          z-index: -1;
        }
      }
    }
    .previewImage {
      display: flex;
      position: relative;
      justify-content: center;
      height: 400px;
      img {
        width: 100%;
      }
    }
  }
}
