.follower {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  max-width: 400px;
  gap: 3px;
  transition: 1s;
  .followerImage {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }

  .name {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // margin: 0 5px 0;
    justify-content: center;
    flex: 1;
    & > span:nth-of-type(1) {
      // correspond à des éléments d'un type donné, en fonction de leur position au sein d'un groupe de frères et sœurs.
      // >  enfants direct de name le 1er
      font-weight: bold;
    }
  }

  .fc-button {
    height: 2rem;

    padding: 2px 2px;
    width: 100px;
    transition: 0.5s;
    border-radius: 5px;
    border: 2px solid $black;
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }

  .buttonFollow {
    background: $blackLight;
    color: aqua;
    cursor: pointer;
    box-shadow: $box-shadow;
  }

  .UnfollowButton {
    color: $blackLight;
    cursor: pointer;
    background: transparent;
  }
}

@media (max-width: 1149px) {
  .follower {
    display: flex;
   .fc-button {
 
      padding: 0px 1px;
      width: 65px;
}
  
   
  }
}
@media (max-width: 991px) {
  .follower {
    display: flex;
    flex-direction: column;
   .fc-button {
 
     
      width: 100px;
}
  
   
  }
}
