.follower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  gap: 20px;

  .followerImage {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }

  .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0 5px 0;
    justify-content: center;
    & > span:nth-of-type(1) {
      // >  enfants direct de name le 1er
      font-weight: bold;
    }
  }

  .fc-button {
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 5px;
    border: 2px solid $black;
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }

  .buttonFollow {
    background: $blackLight;
    color: aqua;
    cursor: pointer;
  }

  .UnfollowButton {
    color: $blackLight;

    cursor: pointer;
    background: transparent;
  }
}
