.bouttonLogOut {
  width: 7rem;
  padding: 0.5rem;
  font-size: 15px;
  background: $blackLight;
  color: transparent;
  transform-style: preserve-3d;
  perspective: 700;
  // overflow: hidden;
  & span:nth-child(1) {
    text-shadow: 0px 0px 0px $aqua;
    transition: 2s;
  }
  & span:nth-child(2) {
    text-shadow: 0px 0px 0px $aqua;
    transition: 2s;
  }
  & span:nth-child(3) {
    text-shadow: 0px 0px 0px $aqua;
    transition: 2s;
  }
  & span:nth-child(4) {
    text-shadow: 0px 0px 0px $aqua;
    transition: 2s;
  }
  & span:nth-child(5) {
    text-shadow: 0px 0px 0px $aqua;
    transition: 2s;
  }
  & span:nth-child(6) {
    text-shadow: 0px 0px 0px $aqua;
    transition: 2s;
  }
  & span:nth-child(7) {
    text-shadow: 0px 0px 0px $aqua;
    transition: 2s;
  }
  & span:nth-child(8) {
    text-shadow: 0px 0px 0px $aqua;
    transition: 2s;
  }
  & span:nth-child(9) {
    text-shadow: 0px 0px 0px $aqua;
    transition: 2s;
  }
  & span:nth-child(10) {
    text-shadow: 0px 0px 0px $aqua;
    transition: 2s;
  }
  & span:nth-child(11) {
    text-shadow: 0px 0px 0px $aqua;
    transition: 2s;
  }
}

.bouttonLogOut:hover span:nth-child(1) {
  // text-shadow: 80px -19px 0px rgba(255, 255, 255, 0.5);
  text-shadow: -80px -19px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
.bouttonLogOut:hover span:nth-child(2) {
  // text-shadow: -100px -14px 4px rgba(255, 255, 255, 0.5);
  text-shadow: -100px -14px 4px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
.bouttonLogOut:hover span:nth-child(3) {
  // text-shadow: -80px 0px 0px rgba(255, 255, 255, 0.5);
  text-shadow: -80px -70px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
.bouttonLogOut:hover span:nth-child(4) {
  // text-shadow: 80px 15px 4px rgba(255, 255, 255, 0.5);
  text-shadow: 180px -270px 4px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
.bouttonLogOut:hover span:nth-child(5) {
  // text-shadow: 134px 0px 4px rgba(255, 255, 255, 0.5);
  text-shadow: 134px 0px 4px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
.bouttonLogOut:hover span:nth-child(6) {
  // text-shadow: 50px 0px 0px rgba(255, 255, 255, 0.5);
  text-shadow: -150px -230px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
.bouttonLogOut:hover span:nth-child(7) {
  // text-shadow: -57px 15px 0px rgba(255, 255, 255, 0.5);
  text-shadow: -57px -250px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
.bouttonLogOut:hover span:nth-child(8) {
  // text-shadow: -177px 24px 0px rgba(255, 255, 255, 0.5);
  text-shadow: -197px -24px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
.bouttonLogOut:hover span:nth-child(9) {
  // text-shadow: -250px 55px 0px rgba(255, 255, 255, 0.5);
  text-shadow: -250px -55px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
.bouttonLogOut:hover span:nth-child(10) {
  // text-shadow: -190px 37px 0px rgba(255, 255, 255, 0.5);
  text-shadow: -190px -300px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
.bouttonLogOut:hover span:nth-child(11) {
  // text-shadow: 177px -35px 4px rgba(255, 255, 255, 0.5);
  text-shadow: -377px -95px 4px rgba(255, 255, 255, 0.5);
  transition: 2s;
}
