.containeBarre {
  background: linear-gradient(180deg, black, #ffffff9c, black);

  width: 100%;
  height: 55px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  // transform: skew(-30deg, 0deg);

  p {
    color: $white;
    box-shadow: #fff 0px 0px 5px; /* SANS autre style*/
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    font-size: 23px;
    background: #2f363e;
  }
}
