$yellow: #f9d423;
$orange: #e65c00;
$aqua: #02d6dd;
$aquaRgba: rgba(2, 214, 221, 0.9);

$white: #fff;
$black: black;
$blackLight: #2f363e;

$aquaBg: linear-gradient(
  150deg,
  transparent,
  rgba(2, 214, 221, 0.9),
  transparent
);
// background: #02d6dd;
//     opacity: 0.9;
