.InfoCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $blackLight;
  padding: 2rem 1rem 1rem;
  border-radius: 1rem;
  width: 100%;
  height: 450px;
  max-width: 600px;
  margin: 10px 0;
  position: relative;
}

.infoHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoHead > div:hover {
  cursor: pointer;
}

.InfoCard button:last-child {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
