.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 50px;
  flex-wrap: wrap; /* ains les blocks ne se coles pas */
  transform-style: preserve-3d; /*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-style*/
  perspective: 500px;
  background: linear-gradient(144deg, $orange, $yellow, $aqua);
}

.banner .blocks {
  display: block;
  width: 10px;
  height: 2px;
  animation: animateBlocks 2s ease-in-out forwards;

  background: linear-gradient(144deg, $orange, $yellow, $aqua);
  // background: linear-gradient(300deg, #f79200, rgba(0, 0, 0, 0.3));

  cursor: pointer;
  border-radius: 50% 50% 46% 54% / 100% 0% 100% 0%;
}

.blocks:hover {
  // animation: animateTwoButton 5s ease-in-out forwards;
  animation: animateBlocksInverse 2s ease-in-out forwards;
  background: $black; // autre styles

  // height: 2px;
}
.banner:hover .blocks {
  border-radius: 0px;
  height: 1px;
  background: $orange;
}

.banner span {
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  animation: animeSpan 3s ease-in-out forwards;
  cursor: pointer;
}

@keyframes animateBlocks {
  0% {
    transform: translateZ(2000px); /*  il commence a 2000px en bas  */

    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }

  100% {
    transform: translateZ(0px);

    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}

@keyframes animateBlocksInverse {
  0% {
    transform: translateZ(0px);

    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(2000px);

    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
}

@keyframes animeSpan {
  0% {
    transform: translateZ(2000px);
  }

  100% {
    transform: translateZ(0px);
    z-index: 1;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    animation-delay: 5s;
  }
}
