.cardProfilPage {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  border-radius: 1rem;
  margin: 10px 0;
  background: $blackLight;
  gap: 5px;

  box-shadow: $box-shadow;

  /* ---------------------------------------img-------------------------------------- */

  .imgCover {
    width: 100%;

    img {
      width: 100%;
      height: 300px;
      border-radius: 10px;
    }
  }
  .imgProfile {
    position: absolute;
    top: 95%;
    left: 0%;
    transform: translate(0%, -100%);
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 10px solid $blackLight;
    overflow: hidden;
    transition: 1s;

    img {
      width: 130px;
      height: 130px;
    }
  }

  /* --------------------------------------------------------info user------------------- */
  .contentData {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    border-radius: 10px;
    background: repeating-radial-gradient(black, transparent 5px);
    padding: 10px;
    transition: 1s;
    .details {
      text-align: center;
      width: 95%;
      transition: 0.5s;
      background: $black;
      box-shadow: inset 0px 0px 30px $aqua;

      h2 {
        font-size: 1.25em;
        font-weight: 600;
        color: $aqua;
        line-height: 1.2em;
        span {
          font-size: 0.75em;
          font-weight: 500;
          color: $white;
        }
      }
      .data {
        display: flex;
        justify-content: flex-end;
        // margin: 20px 0;
        padding: 0 0.5rem;
        & h3:nth-child(1) {
          border-bottom-left-radius: 1rem;
        }
        & h3:nth-child(2) {
          border-radius: 0 0rem 0rem 0;
        }
        & h3:nth-child(3) {
          border-bottom-right-radius: 1rem;
        }

        h3 {
          font-size: 1em;
          font-weight: 600;
          color: $aqua;
          // background: $black;
          width: 30%;
          padding: 0.8rem 0 0.8rem;
          position: relative;

          span {
            font-size: 0.85em;
            font-weight: 400;
            color: $white;
          }
          &::before {
            content: "";
            // display: flex;
            width: 1%;
            height: 100%;
            background: $blackLight;
          }
          &::after {
            content: "";
            // position: absolute;
            // right: 0;
            // display: flex;
            width: 1%;
            height: 100%;
            background: $blackLight;
          }
        }
      }
      .actionBtn {
        text-align: center;

        p {
          font-size: 20px;
          font-weight: 500;

          cursor: pointer;
          color: $aqua;
        }
      }
    }
  }
}
.cardHomePage {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  border-radius: 1rem;
  margin: 10px 0;
  box-shadow: $box-shadow;

  /* ---------------------------------------img-------------------------------------- */
  .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;

    transition: 0.5s;
    overflow: hidden;
    background: $blackLight;
    border-radius: 1rem;

    .imgCover {
      width: 100%;
      img {
        height: 50%; //height: 50%  ou 100%;
        width: 100%;
      }
    }
    .imgProfile {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -100%);
      display: flex;
      align-items: center;
      padding: 2px;
      background: $black;
      border-radius: 50%;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 300px;
        height: 60px;
        background: $aquaBg;
        animation: animate2 6s linear infinite;
      }

      img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;
      }
    }
  }

  /* --------------------------------------------------------info user------------------- */
  .contentData {
    overflow: hidden;
    position: absolute;
    top: 45%;
    .details {
      padding: 40px;
      text-align: center;
      width: 100%;
      transition: 0.5s;

      h2 {
        font-size: 1.25em;
        font-weight: 600;
        color: $aqua;
        line-height: 1.2em;
        span {
          font-size: 0.75em;
          font-weight: 500;
          color: $white;
        }
      }
      .data {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;

        h3 {
          font-size: 1em;
          font-weight: 600;
          color: $aqua;
          margin: 0 1rem;

          span {
            font-size: 0.85em;
            font-weight: 400;
            color: $white;
          }
        }
      }
      .actionBtn {
        text-align: center;
        a {
          text-decoration: none;
        }
        p {
          font-size: 20px;
          font-weight: 500;

          cursor: pointer;
          color: $aqua;
        }
      }
    }
  }
}

@media (max-width:991px) {
  .cardProfilPage {
    .imgProfile {
    
      top: 88%;
      left: -2%;
}
.contentData {
 
  width: 100%;

}
   
 
  }
  
}