.Post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $blackLight;
  border-radius: 1rem;
  gap: 1rem;
  span {
    font-size: 18px;
  }
}

.Post > img {
  width: 100%;
  max-height: 20rem;
  border-radius: 0.5rem;
}

.postReact {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
.postReact > img {
  cursor: pointer;
}
.details {
  font-size: 18px;
}

.details span:last-child {
  margin-bottom: 1rem;
  color: $aqua;
  cursor: pointer;
}
