.Post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $blackLight;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: $box-shadow;
  position: relative;
  //   span {
  //   font-size: 18px;
  // }
 
}

.Post > img {
  width: 100%;
  max-height: 20rem;
  border-radius: 0.5rem;
}

.containe-updateDelecteComment{
  display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.postReact {
  display: flex;
  // align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  img {
    cursor: pointer;
  }
}


.container-Img-details {
  display: flex;
  font-size: 18px;
  gap: 1rem;
  img {
    width: 4.2rem;
    height: 4.2rem;
    cursor: pointer;
    // border-radius: 50%;
  }
  .details {
    display: flex;
    flex-direction: column;
    span {
      letter-spacing: 2px;
      // color: $white;
     
    }
    span:first-child {
      font-weight: 700;
      cursor: pointer;
      color: $white;
    }

    span:last-child {
      margin-top: 10px;
      color: $white;
    }
  }
}


.container-like{
  
  span{
    color: $aqua;
    margin-left: 5px;
  }
}