.Post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $blackLight;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: $box-shadow;
  //   span {
  //   font-size: 18px;
  // }
 
}

.Post > img {
  width: 100%;
  max-height: 20rem;
  border-radius: 0.5rem;
}

.postReact {
  display: flex;
  // align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  img {
    cursor: pointer;
  }
}


.container-Img-details {
  display: flex;
  font-size: 18px;
  gap: 1rem;
  img {
    width: 4.2rem;
    height: 4.2rem;
    cursor: pointer;
    // border-radius: 50%;
  }
  .details {
    display: flex;
    flex-direction: column;
    span {
      letter-spacing: 2px;
      // color: $white;
     
    }
    span:first-child {
      font-weight: 700;
      cursor: pointer;
      color: $white;
    }

    span:last-child {
      margin-top: 10px;
      color: $white;
    }
  }
}

.containe-postComment{
  display: flex;
  flex-direction: column;
  gap: 5px;
  img {
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
  }
  .commentsLength{

  
  }
  .containe-imgName{
    display: flex;
    margin-bottom: 5px;
    gap: 10px;
    box-shadow: 1px 1px 15px inset black;
    padding: 10px;
    color: white;
    letter-spacing: 3px;
    line-height: 20px;
    // background: red ;
    span{
      font-weight: 700;
    }
  }
  .containe-inputComments{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
   
    input[type='text']{
     padding: 15px;
     border-radius: 5px;
     border: none;
     outline: none;
    }

  }
 
}

.container-like{
  
  span{
    color: $aqua;
    margin-left: 5px;
  }
}