.containerBtn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 3;

  .buttonToogle {
    position: relative;
    height: 26px;
    width: 55px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: scale(1.3);
    box-shadow: inset 0px 3px 0px #333;
    color: $white;

    .ball {
      background: repeating-radial-gradient(#e65c00, #fcfcfc 15px);
      border-radius: 50%;
      height: 23px;
      width: 23px;
      position: absolute;
      top: 3px;
      left: 0px;

      transform: translateX(30px);
      transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
    }
  }
}

.containerBtn.active {
  .ball {
    background: repeating-radial-gradient(#e65c00, #111110 15px);
    transform: translateX(0px);
    transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
}

// ---------------------------------- home page

.containerBtn.active .ball.home-page {
  background: repeating-radial-gradient(#02d6dd, #111110 12px); //page black
  transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.containerBtn.home-page {
  position: absolute;
  right: 5rem;
  top: 1rem;
  z-index: 3;
  .ball {
    background: repeating-radial-gradient(
      rgba(255, 255, 255, 0.6117647059),
      #111110 1px
    ); //page blanche
    transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
}

.containerBtn.active.home-page {
  .ball {
    background: repeating-radial-gradient($white, #111110 12px); //page black
    transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
  }
}
