@charset "UTF-8";
@keyframes animateSquare {
  0%, 100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}
@keyframes animateColorBg {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(300px, -300px);
  }
  40% {
    transform: translate(500px, 100px);
  }
  60% {
    transform: translate(-100px, 200px);
  }
  80% {
    transform: translate(-400px, -300px);
  }
  100% {
    transform: translate(100px, 100px);
  }
}
@keyframes animErrorMessages {
  0% {
    color: #c61dff;
  }
  100% {
    color: black;
  }
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
body {
  background: #333;
}

.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 50px;
  flex-wrap: wrap; /* ains les blocks ne se coles pas */
  transform-style: preserve-3d; /*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-style*/
  perspective: 500px;
  background: linear-gradient(144deg, #e65c00, #f9d423, #02d6dd);
}

.banner .blocks {
  display: block;
  width: 10px;
  height: 2px;
  animation: animateBlocks 2s ease-in-out forwards;
  background: linear-gradient(144deg, #e65c00, #f9d423, #02d6dd);
  cursor: pointer;
  border-radius: 50% 50% 46% 54%/100% 0% 100% 0%;
}

.blocks:hover {
  animation: animateBlocksInverse 2s ease-in-out forwards;
  background: black;
}

.banner:hover .blocks {
  border-radius: 0px;
  height: 1px;
  background: #e65c00;
}

.banner span {
  z-index: 1;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes animateBlocks {
  0% {
    transform: translateZ(2000px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(0px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}
@keyframes animateBlocksInverse {
  0% {
    transform: translateZ(0px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(2000px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth {
  display: flex;
  justify-content: center;
}

.colorBg {
  position: absolute;
  filter: blur(150px);
}
.colorBg:nth-child(1) {
  top: -350px;
  width: 100%;
  height: 600px;
  background: #e65c00;
  border-radius: 0% 0% 100% 100%;
}
.colorBg:nth-child(2) {
  bottom: -150px;
  left: 0px;
  width: 50%;
  height: 700px;
  background: #f9d423;
  border-radius: 100% 0% 100% 0%;
}
.colorBg:nth-child(3) {
  /* pour les  3 couleurs des enfants de color pour le bg du body en gradiant si on enleve filter dans color on comprend mieux  */
  bottom: -150px;
  right: 0px;
  width: 50%;
  height: 700px;
  border-radius: 0% 100% 0% 100%;
  background: #02d6dd;
}

.containerForm {
  width: 60%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerForm .containerLogo {
  display: flex;
  justify-content: center;
}
.containerForm h1 {
  color: black;
}
.containerForm .form {
  width: 700px;
  position: relative;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  padding: 50px 40px;
  display: flex;
  flex-wrap: wrap;
}
.containerForm .form h2 {
  color: #e65c00;
  font-weight: 500;
  letter-spacing: 0.1em;
  position: absolute;
  left: 5px;
  top: 5px;
}
.containerForm .form .inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
  margin-left: 10px;
  transition: 2s;
}
.containerForm .form .inputBox input {
  position: relative;
  width: 100%;
  padding: 15px 10px 10px;
  background: none;
  border-radius: 15px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.05em;
  z-index: 10;
}
.containerForm .form .inputBox input:valid ~ span, .containerForm .form .inputBox input:focus ~ span {
  color: #e65c00;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}
.containerForm .form .inputBox input:valid ~ i {
  /* le i s'ecarts'agrandit */
  height: 35px;
}
.containerForm .form .inputBox span {
  position: absolute;
  left: 0;
  padding: 15px 0px 10px; /*haut horizontal bas*/
  font-size: 1rem;
  color: black;
  pointer-events: none; /* quel fait la souris comme evenement La propriété CSS pointer-events permet de contrôler les circonstances dans lesquelles un élément graphique peut être une cible, c'est-à-dire recevoir des évènements de la souris, du pointeur ou du doigt. */
  letter-spacing: 0.5rem;
  transition: 0.5s;
}
.containerForm .form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(45deg, #f79200, rgba(0, 0, 0, 0.6784313725));
  border-radius: 15px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.containerForm .form .inputBox:nth-child(4) {
  width: 600px;
}
.containerForm .form .inputBox:nth-child(6) span {
  top: -14px;
}
.containerForm .form .square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px); /*pour le flou la visibilité comme opacity \en-US\docs\Web\CSS\backdrop-filter */
  box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  /* --------------------------------------les carrés  */
}
.containerForm .form .square p {
  margin-bottom: 5px;
}
.containerForm .form .square:nth-child(7) {
  position: absolute;
  bottom: -55px;
  right: 0px;
  width: 153px;
  height: 50px;
  z-index: 2;
  --i: 2;
  border-radius: 50px;
}
.containerForm .form .square:nth-child(8) {
  position: absolute;
  top: 150px;
  left: -85px;
  width: 120px;
  height: 120px;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  padding: 2px;
  --i: 1;
}
.containerForm .form .square:nth-child(8) a {
  text-decoration: none;
  color: black;
}
.containerForm .form .square:nth-child(9) {
  position: absolute;
  top: 70px;
  right: -60px;
  padding: 3px;
  --i: 0;
}
.containerForm .form .square:nth-child(9) ul li {
  display: flex;
  list-style: none;
}
.containerForm .form .square:nth-child(9) ul li i {
  opacity: 0;
  visibility: hidden;
}
.containerForm .form .square:nth-child(9) ul li.valid i {
  transition: 1s;
  color: #e65c00;
  opacity: 1;
  margin-right: 10px;
  visibility: inherit;
}
.containerForm .form .square:nth-child(9) ul li.valid span {
  color: #3d3d3d;
}
.containerForm .form .square:nth-child(10) {
  position: absolute;
  bottom: -80px;
  left: 100px;
  width: 250px;
  height: 50px;
  text-align: center;
  --i: 3;
}
.containerForm .form .square:nth-child(11) {
  position: absolute;
  top: -80px;
  right: 140px;
  width: 60px;
  height: 60px;
  --i: 4;
}
.containerForm .form .animationSquare {
  animation: animateSquare 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
.containerForm .box {
  margin-left: 1rem;
  border-left: solid 1px black;
}

@media (max-width: 992px) {
  .containerForm {
    flex-direction: column;
  }
  .containerForm .form {
    width: 100%;
  }
  .containerForm .form .inputBox input {
    padding: 30px 10px 10px;
  }
  .containerForm .form .inputBox:nth-child(4) {
    width: 300px;
  }
  .containerForm .form .square {
    /* --------------------------------------les carrés  */
  }
  .containerForm .form .square:nth-child(8) {
    position: absolute;
    top: 150px;
    left: -70px;
  }
  .containerForm .form .square:nth-child(9) {
    position: absolute;
    top: -50px;
    right: -60px;
  }
  .containerForm .form .square:nth-child(10) {
    position: absolute;
    bottom: -80px;
    left: 0;
  }
  .containerForm .form .square:nth-child(11) {
    position: absolute;
    top: -80px;
    left: -90px;
  }
  .containerForm .box {
    margin: 1rem 0 0;
  }
}
@media (max-width: 470px) {
  .containerForm .form .inputBox:nth-child(2) span {
    top: 20px;
  }
  .containerForm .form .inputBox:nth-child(3) span {
    top: 20px;
  }
  .containerForm .form .inputBox:nth-child(4) span {
    top: 20px;
  }
}
#bodySignIn {
  position: relative;
}

.divColor {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  min-height: 100vh;
  filter: blur(150px);
}
.divColor .ball {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.divColor .color:nth-child(1) {
  background: rgb(212, 11, 231);
  animation: animateColorBg 10s linear infinite;
}
.divColor .color:nth-child(2) {
  background: rgb(240, 115, 13);
  animation: animateColorBg 15s linear infinite;
}
.divColor .color:nth-child(3) {
  background: yellow;
  animation: animateColorBg 25s linear infinite;
}
.divColor .color:nth-child(4) {
  background: rgb(255, 55, 0);
  animation: animateColorBg 30s linear infinite;
}
.divColor .color:nth-child(5) {
  background: lightcoral;
  animation: animateColorBg 40s linear infinite;
}
.divColor .color:nth-child(6) {
  background: aqua;
  animation: animateColorBg 50s linear infinite;
}

/* ---------------------------------formulaire */
.containerSignIn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerSignIn .signIn {
  position: relative;
  width: 350px;
  height: 350px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05), inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 33% 67% 28% 72%/46% 32% 68% 54%; /*https://9elements.github.io/fancy-border-radius/#46.33.32.72--.*/
}
.containerSignIn .signIn:hover {
  border-radius: 50%;
}
.containerSignIn .signIn::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 85px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.9;
}
.containerSignIn .signIn::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 100px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.9;
}
.containerSignIn .signIn .content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  gap: 15px;
}
.containerSignIn .signIn .content h2 {
  position: relative;
  -moz-columns: #333;
       columns: #333;
  font-size: 1.5em;
}
.containerSignIn .signIn .content form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSignIn .signIn .content form .inputBox {
  position: relative;
  width: 225px;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1), inset -2px -5px 10px rgb(255, 255, 255), 15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.025);
  border-radius: 25px;
}
.containerSignIn .signIn .content form .inputBox input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 1rem;
  padding: 10px 15px;
}
.containerSignIn .signIn .content form .inputBox:last-child {
  width: 80px;
}
.containerSignIn .signIn .content form .inputBox button {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: 500;
  position: relative;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  transition: 0.5s;
  background: radial-gradient(rgba(255, 255, 255, 0.5), #4b4b4b, #000, #fff);
}
.containerSignIn .signIn .content form .inputBox button:hover::before {
  z-index: -1;
  box-shadow: 0px 0px 0px 5px black;
  transition: 1s;
}
.containerSignIn .signIn .content form .inputBox button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6705882353), #000000, #fff);
  transition: 1s;
}

/* ----------------------------forgot password  */
.btns {
  position: absolute;
  right: -120px;
  bottom: 0;
  width: 120px;
  height: 120px;
  background: #c61dff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  transition: 0.25s;
  text-align: center;
  box-shadow: inset 10px 10px 10px rgba(190, 1, 254, 0.05), 15px 25px 10px rgba(190, 1, 254, 0.1), 15px 20px 20px rgba(190, 1, 254, 0.1), inset -10px -10px 15px rgba(255, 255, 255, 0.5);
  border-radius: 35% 65% 71% 29%/55% 62% 38% 45%;
}
.btns:hover {
  border-radius: 50%;
}
.btns::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.45;
}

.signup {
  bottom: 150px;
  right: -120px;
  width: 80px;
  height: 80px;
  border-radius: 46% 54% 46% 54%/61% 55% 45% 39%;
  background: #01b4ff;
  box-shadow: inset 10px 10px 10px rgba(1, 180, 255, 0.05), 15px 25px 10px rgba(1, 180, 255, 0.1), 15px 20px 20px rgba(1, 180, 255, 0.1), inset -10px -10px 15px rgba(255, 255, 255, 0.5);
  cursor: unset;
}
.signup::before {
  left: 7px;
  width: 13px;
  height: 13px;
  background: #fff;
}
.signup a {
  text-decoration: none;
  color: black;
}

.errorMessages {
  animation: animErrorMessages 1s linear infinite;
  font-size: 15px;
}

@media (max-width: 768px) {
  #bodySignIn .divColor .color:nth-child(1),
  #bodySignIn .divColor .color:nth-child(2),
  #bodySignIn .divColor .color:nth-child(3),
  #bodySignIn .divColor .color:nth-child(4) {
    animation: none;
  }
  #bodySignIn .divColor .color:nth-child(5),
  #bodySignIn .divColor .color:nth-child(6) {
    display: none;
  }
  .containerSignIn .signIn {
    width: 300px;
    height: 300px;
  }
  .containerSignIn .signIn::before {
    top: 17px;
    left: 48px;
  }
  .containerSignIn .signIn::after {
    top: 62px;
    left: 77px;
  }
  .containerSignIn .btns {
    bottom: -95px;
    right: 170px;
  }
  .containerSignIn .signup {
    right: 80px;
  }
}
.home {
  position: relative;
  display: grid;
  grid-template-columns: 25% auto 20%;
  gap: 1rem;
  padding: 0 1rem;
  background: linear-gradient(150deg, transparent, rgba(2, 214, 221, 0.9), transparent);
  min-height: 100vh;
}

.profileUser {
  position: relative;
  display: grid;
  grid-template-columns: 25% auto 20%;
  gap: 1rem;
  padding: 0 1rem;
  background: linear-gradient(150deg, transparent, rgba(2, 214, 221, 0.9), transparent);
}
.profileUser .Profile-center {
  display: flex;
  flex-direction: column;
}

.profileLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardProfilPage {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  border-radius: 1rem;
  margin: 10px 0;
  background: #2f363e;
  gap: 5px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  /* ---------------------------------------img-------------------------------------- */
  /* --------------------------------------------------------info user------------------- */
}
.cardProfilPage .imgCover {
  width: 100%;
}
.cardProfilPage .imgCover img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.cardProfilPage .imgProfile {
  position: absolute;
  top: 95%;
  left: 0%;
  transform: translate(0%, -100%);
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 10px solid #2f363e;
  overflow: hidden;
  transition: 1s;
}
.cardProfilPage .imgProfile img {
  width: 130px;
  height: 130px;
}
.cardProfilPage .contentData {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  width: 95%;
  border-radius: 10px;
  background: repeating-radial-gradient(black, transparent 5px);
  padding: 10px;
  transition: 1s;
}
.cardProfilPage .contentData .details {
  text-align: center;
  width: 95%;
  transition: 0.5s;
  background: black;
  box-shadow: inset 0px 0px 30px #02d6dd;
}
.cardProfilPage .contentData .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #02d6dd;
  line-height: 1.2em;
}
.cardProfilPage .contentData .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: #fff;
}
.cardProfilPage .contentData .details .data {
  display: flex;
  justify-content: flex-end;
  padding: 0 0.5rem;
}
.cardProfilPage .contentData .details .data h3:nth-child(1) {
  border-bottom-left-radius: 1rem;
}
.cardProfilPage .contentData .details .data h3:nth-child(2) {
  border-radius: 0 0rem 0rem 0;
}
.cardProfilPage .contentData .details .data h3:nth-child(3) {
  border-bottom-right-radius: 1rem;
}
.cardProfilPage .contentData .details .data h3 {
  font-size: 1em;
  font-weight: 600;
  color: #02d6dd;
  width: 30%;
  padding: 0.8rem 0 0.8rem;
  position: relative;
}
.cardProfilPage .contentData .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  color: #fff;
}
.cardProfilPage .contentData .details .data h3::before {
  content: "";
  width: 1%;
  height: 100%;
  background: #2f363e;
}
.cardProfilPage .contentData .details .data h3::after {
  content: "";
  width: 1%;
  height: 100%;
  background: #2f363e;
}
.cardProfilPage .contentData .details .actionBtn {
  text-align: center;
}
.cardProfilPage .contentData .details .actionBtn p {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #02d6dd;
}

.cardHomePage {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
  margin: 10px 0;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  /* ---------------------------------------img-------------------------------------- */
  /* --------------------------------------------------------info user------------------- */
}
.cardHomePage .imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;
  transition: 0.5s;
  overflow: hidden;
  background: #2f363e;
  border-radius: 1rem;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.cardHomePage .imgBx .imgCover {
  width: 100%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.cardHomePage .imgBx .imgCover img {
  height: 50%;
  width: 100%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.cardHomePage .imgBx .imgProfile {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  align-items: center;
  padding: 2px;
  background: black;
  border-radius: 50%;
  overflow: hidden;
}
.cardHomePage .imgBx .imgProfile::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 300px;
  height: 60px;
  background: linear-gradient(150deg, transparent, rgba(2, 214, 221, 0.9), transparent);
  animation: animate2 6s linear infinite;
}
.cardHomePage .imgBx .imgProfile img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
.cardHomePage .contentData {
  overflow: hidden;
  position: absolute;
  top: 45%;
}
.cardHomePage .contentData .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}
.cardHomePage .contentData .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #02d6dd;
  line-height: 1.2em;
}
.cardHomePage .contentData .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: #fff;
}
.cardHomePage .contentData .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.cardHomePage .contentData .details .data h3 {
  font-size: 1em;
  font-weight: 600;
  color: #02d6dd;
  margin: 0 1rem;
}
.cardHomePage .contentData .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  color: #fff;
}
.cardHomePage .contentData .details .actionBtn {
  text-align: center;
}
.cardHomePage .contentData .details .actionBtn a {
  text-decoration: none;
}
.cardHomePage .contentData .details .actionBtn p {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #02d6dd;
}

@media (max-width: 991px) {
  .cardProfilPage .imgProfile {
    top: 88%;
    left: -2%;
  }
  .cardProfilPage .contentData {
    width: 100%;
  }
}
.containerBtn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 3;
}
.containerBtn .buttonToggle {
  position: relative;
  height: 26px;
  width: 55px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: scale(1.3);
  box-shadow: inset 0px 3px 0px black;
  color: black;
}
.containerBtn .buttonToggle .ball {
  background: repeating-radial-gradient(#e65c00, #fcfcfc 15px);
  border-radius: 50%;
  height: 23px;
  width: 23px;
  position: absolute;
  top: 3px;
  left: 0px;
  transform: translateX(30px);
  transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.containerBtn.active .ball {
  background: repeating-radial-gradient(#e65c00, #111110 15px);
  transform: translateX(0px);
  transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.containerBtn.home-page {
  position: absolute;
  right: 5rem;
  top: 1rem;
  z-index: 3;
}
.containerBtn.home-page .buttonToggle {
  color: white;
}
.containerBtn.home-page .ball {
  background: repeating-radial-gradient(rgba(255, 255, 255, 0.6117647059), #111110 1px);
  transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.containerBtn.active.home-page .ball {
  background: repeating-radial-gradient(#fff, #111110 12px);
  transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.containeBarre {
  background: linear-gradient(180deg, black, rgba(255, 255, 255, 0.6117647059), black);
  width: 100%;
  height: 55px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.containeBarre p {
  color: #fff;
  box-shadow: #fff 0px 0px 5px; /* SANS autre style*/
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  font-size: 23px;
  background: #2f363e;
}

.navigation {
  position: relative;
  min-height: 100px;
  max-width: 400px;
  border-radius: 30px;
  background: #2f363e;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding-top: 15px;
  flex-wrap: wrap;
}
.navigation li {
  position: relative;
  list-style: none;
  margin: 0 5px 25px;
}
.navigation li:hover .icon {
  transform: translateY(-10px);
  background: linear-gradient(150deg, rgba(2, 214, 221, 0.9), #2f363e, #2f363e);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 3px rgba(255, 255, 255, 0.25), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}
.navigation li a {
  color: #02d6dd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}
.navigation li a::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #333333;
}
.navigation li a .icon {
  font-size: 1.75em;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.navigation li a.active::before {
  box-shadow: 0 0 1px #02d6dd, 0 0 5px #02d6dd, inset 0 0 1px, inset 0 0 5px #02d6dd, inset 0 0 7px #02d6dd;
}
.navigation li .text {
  font-size: 0.75em;
  transition: 0.5s;
  padding: 2px 10px;
  background: #fff;
  border-radius: 15px;
  color: #2f363e;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.follower {
  display: flex;
  align-items: center;
  max-width: 400px;
  gap: 3px;
  transition: 1s;
}
.follower .followerImage {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}
.follower .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.follower .name > span:nth-of-type(1) {
  font-weight: bold;
}
.follower .fc-button {
  height: 2rem;
  padding: 2px 2px;
  width: 100px;
  transition: 0.5s;
  border-radius: 5px;
  border: 2px solid black;
}
.follower .fc-button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.follower .buttonFollow {
  background: #2f363e;
  color: aqua;
  cursor: pointer;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.follower .UnfollowButton {
  color: #2f363e;
  cursor: pointer;
  background: transparent;
}

@media (max-width: 1149px) {
  .follower {
    display: flex;
  }
  .follower .fc-button {
    padding: 0px 1px;
    width: 65px;
  }
}
@media (max-width: 991px) {
  .follower {
    display: flex;
    flex-direction: column;
  }
  .follower .fc-button {
    width: 100px;
  }
}
.FollowersCard {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.FollowersCard .buttonModal {
  text-align: center;
}

.FollowersModal {
  background: #02d6dd;
}

.PostShare {
  background: #2f363e;
  margin: 10px 0;
  border-radius: 1rem;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.PostShare .imageAndInput {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  gap: 1rem;
}
.PostShare .imageAndInput img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.PostShare .imageAndInput input {
  padding: 10px 5px;
  border-radius: 15px;
  flex-basis: 90%;
  outline: none;
  border: none;
}
.PostShare .containeOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.PostShare .containeOption .postOptions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 10px;
}
.PostShare .containeOption .postOptions .option {
  color: #02d6dd;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.PostShare .containeOption button {
  position: relative;
  width: 90px;
  border: none;
}
.PostShare .containeOption button::before, .PostShare .containeOption button::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: 0.5s;
  background: linear-gradient(45deg, #02d6dd, black, black, #02d6dd);
}
.PostShare .containeOption button:hover::before, .PostShare .containeOption button:hover::after {
  inset: -1px;
}
.PostShare .containeOption button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  color: #02d6dd;
  border: 1px solid black;
  overflow: hidden; /* pour le .container a span:before*/
  cursor: pointer;
}
.PostShare .containeOption button span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: #2f363e;
  transform: skew(76deg);
  z-index: -1;
}
.PostShare .containeOption .previewImage {
  display: flex;
  position: relative;
  justify-content: center;
  height: 400px;
}
.PostShare .containeOption .previewImage img {
  width: 100%;
}
.PostShare .containeOption .previewVideo {
  display: flex;
  position: relative;
  justify-content: center;
}
.PostShare .containeOption .previewVideo video {
  width: 100%;
}

.Posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px 0;
}

.Post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #2f363e;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  position: relative;
}

.Post > img {
  width: 100%;
  max-height: 20rem;
  border-radius: 0.5rem;
}

.containe-updateDelecteComment {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.postReact {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.postReact img {
  cursor: pointer;
}

.container-Img-details {
  display: flex;
  font-size: 18px;
  gap: 1rem;
}
.container-Img-details img {
  width: 4.2rem;
  height: 4.2rem;
  cursor: pointer;
}
.container-Img-details .details {
  display: flex;
  flex-direction: column;
}
.container-Img-details .details span {
  letter-spacing: 2px;
}
.container-Img-details .details span:first-child {
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}
.container-Img-details .details span:last-child {
  margin-top: 10px;
  color: #fff;
}

.container-like span {
  color: #02d6dd;
  margin-left: 5px;
}

.InfoCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #2f363e;
  padding: 2rem 1rem 1rem;
  border-radius: 1rem;
  width: 100%;
  height: 450px;
  max-width: 600px;
  margin: 10px 0;
  mix-blend-mode: luminosity;
  position: relative;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.infoHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoHead > div:hover {
  cursor: pointer;
}

.logout-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: 0;
}

.infoFormModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.infoFormModal > div {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.infoFormModal > div input {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px -1px 1px black, -2px 2px 2px black;
  outline: none;
}
.infoFormModal div:nth-child(2) input,
.infoFormModal div:nth-child(4) input {
  width: 50%;
}
.infoFormModal div:nth-child(3) input,
.infoFormModal div:nth-child(5) input {
  width: 100%;
}
.infoFormModal div:nth-child(6) input {
  width: 50%;
}
.infoFormModal button {
  position: relative;
  width: 160px;
  height: 30px;
  display: inline-block;
  align-self: flex-end;
  cursor: pointer;
}
.infoFormModal button::after, .infoFormModal button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #02d6dd, #040404, #040404, #02d6dd);
  transition: 0.5s;
}
.infoFormModal button:hover::after {
  inset: -1px;
}
.infoFormModal button:hover::before {
  inset: -1px;
  filter: blur(5px);
}
.infoFormModal button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: #ffffff;
  border: 1px solid black;
  overflow: hidden; /* pour le .container a span:before*/
}
.infoFormModal button span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: #2f363e;
  transform: skew(25deg); /* fait que le trait soit oblique au millieu    https://developer.mozilla.org/fr/docs/Web/CSS/transform-function/skew*/
  z-index: -1;
}

.containe-postComment {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.containe-postComment img {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}
.containe-postComment .containe-imgName {
  display: flex;
  margin-bottom: 5px;
  gap: 10px;
  box-shadow: 1px 1px 15px inset black;
  padding: 10px;
  color: white;
  letter-spacing: 3px;
  line-height: 20px;
}
.containe-postComment .containe-imgName span {
  font-weight: 700;
}
.containe-postComment .containe-inputComments {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.containe-postComment .containe-inputComments input[type=text] {
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.bouttonLogOut {
  width: 7rem;
  padding: 0.5rem;
  font-size: 15px;
  background: #2f363e;
  color: transparent;
  transform-style: preserve-3d;
  perspective: 700;
}
.bouttonLogOut span:nth-child(1) {
  text-shadow: 0px 0px 0px #02d6dd;
  transition: 2s;
}
.bouttonLogOut span:nth-child(2) {
  text-shadow: 0px 0px 0px #02d6dd;
  transition: 2s;
}
.bouttonLogOut span:nth-child(3) {
  text-shadow: 0px 0px 0px #02d6dd;
  transition: 2s;
}
.bouttonLogOut span:nth-child(4) {
  text-shadow: 0px 0px 0px #02d6dd;
  transition: 2s;
}
.bouttonLogOut span:nth-child(5) {
  text-shadow: 0px 0px 0px #02d6dd;
  transition: 2s;
}
.bouttonLogOut span:nth-child(6) {
  text-shadow: 0px 0px 0px #02d6dd;
  transition: 2s;
}
.bouttonLogOut span:nth-child(7) {
  text-shadow: 0px 0px 0px #02d6dd;
  transition: 2s;
}
.bouttonLogOut span:nth-child(8) {
  text-shadow: 0px 0px 0px #02d6dd;
  transition: 2s;
}
.bouttonLogOut span:nth-child(9) {
  text-shadow: 0px 0px 0px #02d6dd;
  transition: 2s;
}
.bouttonLogOut span:nth-child(10) {
  text-shadow: 0px 0px 0px #02d6dd;
  transition: 2s;
}
.bouttonLogOut span:nth-child(11) {
  text-shadow: 0px 0px 0px #02d6dd;
  transition: 2s;
}

.bouttonLogOut:hover span:nth-child(1) {
  text-shadow: -80px -19px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

.bouttonLogOut:hover span:nth-child(2) {
  text-shadow: -100px -14px 4px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

.bouttonLogOut:hover span:nth-child(3) {
  text-shadow: -80px -70px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

.bouttonLogOut:hover span:nth-child(4) {
  text-shadow: 180px -270px 4px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

.bouttonLogOut:hover span:nth-child(5) {
  text-shadow: 134px 0px 4px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

.bouttonLogOut:hover span:nth-child(6) {
  text-shadow: -150px -230px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

.bouttonLogOut:hover span:nth-child(7) {
  text-shadow: -57px -250px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

.bouttonLogOut:hover span:nth-child(8) {
  text-shadow: -197px -24px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

.bouttonLogOut:hover span:nth-child(9) {
  text-shadow: -250px -55px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

.bouttonLogOut:hover span:nth-child(10) {
  text-shadow: -190px -300px 0px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

.bouttonLogOut:hover span:nth-child(11) {
  text-shadow: -377px -95px 4px rgba(255, 255, 255, 0.5);
  transition: 2s;
}

.btnSubmitComments {
  position: relative;
  width: 100px;
  height: 30px;
  padding: 5px;
  align-self: flex-end;
  font-weight: 600;
  overflow: hidden;
}

.btnSubmitComments::before, .btnSubmitComments::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 5px;
  background: #2f363e;
  border-radius: 15px;
  transition: 0.5s;
}

.btnSubmitComments::before {
  top: 0px;
  right: -10px;
}

.btnSubmitComments::after {
  bottom: 0px;
  left: -10px;
}

.btnSubmitComments:hover::before {
  box-shadow: 5px 10px #02d6dd, 0px 20px #2f3e3c;
}

.btnSubmitComments:hover::after {
  box-shadow: -5px -10px #02d6dd, 0px -20px #2f363e;
}/*# sourceMappingURL=index.css.map */