@import "./utils/variable";
@import "./utils/animations";
@import "./utils/placeholders";
@import "../component/utils/BouttonSignUp/BouttonSignUp";
@import "../pages/Auth/signUp";
@import "../pages/Auth/singnIn";
@import "../pages/Home/home";
@import "../pages/Profil/profileUser";
@import "../component/ProfileLeft/ProfileLeft.scss";
@import "../component/PostCenter/PostCenter";
@import "../component/ProfileRight/profileRight";
@import "../component/ProfileCard/profileCard";
@import "../component/ToogleBg/toogleBg";
@import "../component/barreHome/barreHome";
@import "../component/Nav/nav";
@import "../component/UserFollowUnfollow/userFollowUnfollow";
@import "../component/FollowersCard/followersCard";
@import "../component/PostShare/postShare";
@import "../component/Posts/Posts";
@import "../component/Post/Post";
@import "../component/InfoCard/InfoCard";
@import "../component/ProfileModal/ProfileModal";
// @import "../component/CommentsPost/commentsPost";
@import "../component/Post/commentsPost";
@import "../component/utils/BouttonLogOut/BouttonLogOut";
@import "../component/utils/BouttonSubmitComments/ButtonSubmitComments.scss";
