@charset "UTF-8";
@-webkit-keyframes animateSquare {
  0%, 100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}
@keyframes animateSquare {
  0%, 100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}
@-webkit-keyframes animateColorBg {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(300px, -300px);
  }
  40% {
    transform: translate(500px, 100px);
  }
  60% {
    transform: translate(-100px, 200px);
  }
  80% {
    transform: translate(-400px, -300px);
  }
  100% {
    transform: translate(100px, 100px);
  }
}
@keyframes animateColorBg {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(300px, -300px);
  }
  40% {
    transform: translate(500px, 100px);
  }
  60% {
    transform: translate(-100px, 200px);
  }
  80% {
    transform: translate(-400px, -300px);
  }
  100% {
    transform: translate(100px, 100px);
  }
}
@-webkit-keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
body {
  background: #333;
}

.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 50px;
  flex-wrap: wrap; /* ains les blocks ne se coles pas */
  transform-style: preserve-3d; /*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-style*/
  perspective: 500px;
  background: linear-gradient(144deg, #e65c00, #f9d423, #02d6dd);
}

.banner .blocks {
  display: block;
  width: 10px;
  height: 2px;
  -webkit-animation: animateBlocks 2s ease-in-out forwards;
          animation: animateBlocks 2s ease-in-out forwards;
  background: linear-gradient(144deg, #e65c00, #f9d423, #02d6dd);
  cursor: pointer;
  border-radius: 50% 50% 46% 54%/100% 0% 100% 0%;
}

.blocks:hover {
  -webkit-animation: animateBlocksInverse 2s ease-in-out forwards;
          animation: animateBlocksInverse 2s ease-in-out forwards;
  background: black;
}

.banner:hover .blocks {
  border-radius: 0px;
  height: 1px;
  background: #e65c00;
}

.banner span {
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  -webkit-animation: animeSpan 3s ease-in-out forwards;
          animation: animeSpan 3s ease-in-out forwards;
  cursor: pointer;
}

@-webkit-keyframes animateBlocks {
  0% {
    transform: translateZ(2000px); /*  il commence a 2000px en bas  */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(0px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}

@keyframes animateBlocks {
  0% {
    transform: translateZ(2000px); /*  il commence a 2000px en bas  */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(0px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}
@-webkit-keyframes animateBlocksInverse {
  0% {
    transform: translateZ(0px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(2000px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
}
@keyframes animateBlocksInverse {
  0% {
    transform: translateZ(0px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(2000px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
}
@-webkit-keyframes animeSpan {
  0% {
    transform: translateZ(2000px);
  }
  100% {
    transform: translateZ(0px);
    z-index: 1;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
}
@keyframes animeSpan {
  0% {
    transform: translateZ(2000px);
  }
  100% {
    transform: translateZ(0px);
    z-index: 1;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.colorBg {
  position: absolute;
  filter: blur(150px);
}
.colorBg:nth-child(1) {
  /* pour les  3 couleurs des enfants de color pour le bg du body en gradiant si on enleve filter dans color on comprend mieux  */
  top: -350px;
  width: 100%;
  height: 600px;
  background: #e65c00;
  border-radius: 0% 0% 100% 100%;
}
.colorBg:nth-child(2) {
  bottom: -150px;
  left: 0px;
  width: 50%;
  height: 700px;
  background: #f9d423;
  border-radius: 100% 0% 100% 0%;
}
.colorBg:nth-child(3) {
  /* pour les  3 couleurs des enfants de color pour le bg du body en gradiant si on enleve filter dans color on comprend mieux  */
  bottom: -150px;
  right: 0px;
  width: 50%;
  height: 700px;
  border-radius: 0% 100% 0% 100%;
  background: #02d6dd;
}

.containerForm {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.containerForm .containerLogo {
  display: flex;
  justify-content: center;
}
.containerForm h1 {
  color: black;
}
.containerForm .form {
  width: 700px;
  position: relative;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  padding: 50px 40px;
  display: flex;
  flex-wrap: wrap;
}
.containerForm .form h2 {
  color: #e65c00;
  font-weight: 500;
  letter-spacing: 0.1em;
  position: absolute;
  left: 5px;
  top: 5px;
}
.containerForm .form .inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
  margin-left: 10px;
}
.containerForm .form .inputBox input {
  position: relative;
  width: 100%;
  padding: 15px 10px 10px;
  background: none;
  border-radius: 15px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.05em;
  z-index: 10;
}
.containerForm .form .inputBox input:valid ~ span, .containerForm .form .inputBox input:focus ~ span {
  color: #e65c00;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}
.containerForm .form .inputBox input:valid ~ i {
  /* le i s'ecarts'agrandit */
  height: 35px;
}
.containerForm .form .inputBox span {
  position: absolute;
  left: 0;
  padding: 15px 0px 10px; /*haut horizontal bas*/
  font-size: 1rem;
  color: black;
  pointer-events: none; /* quel fait la souris comme evenement La propriété CSS pointer-events permet de contrôler les circonstances dans lesquelles un élément graphique peut être une cible, c'est-à-dire recevoir des évènements de la souris, du pointeur ou du doigt. */
  letter-spacing: 0.5rem;
  transition: 0.5s;
}
.containerForm .form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(45deg, #f79200, rgba(0, 0, 0, 0.6784313725));
  border-radius: 15px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.containerForm .form .square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px); /*pour le flou la visibilité comme opacity \en-US\docs\Web\CSS\backdrop-filter */
  box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  -webkit-animation: animateSquare 10s linear infinite;
          animation: animateSquare 10s linear infinite;
  -webkit-animation-delay: calc(-1s * var(--i));
          animation-delay: calc(-1s * var(--i)); /*les variables du html*/
  /* --------------------------------------les carrés  */
}
.containerForm .form .square p {
  margin-bottom: 5px;
}
.containerForm .form .square:nth-child(8) {
  position: absolute;
  bottom: -100px;
  right: -40px;
  width: 153px;
  height: 50px;
  z-index: 2;
  --i: 2;
  border-radius: 50px;
}
.containerForm .form .square:nth-child(9) {
  position: absolute;
  top: 150px;
  left: -85px;
  width: 120px;
  height: 120px;
  font-weight: 700;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  --i: 1;
}
.containerForm .form .square:nth-child(9) a {
  text-decoration: none;
}
.containerForm .form .square:nth-child(10) {
  position: absolute;
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
  text-align: center;
  --i: 0;
}
.containerForm .form .square:nth-child(11) {
  position: absolute;
  bottom: -80px;
  left: 100px;
  width: 250px;
  height: 50px;
  text-align: center;
  --i: 3;
}
.containerForm .form .square:nth-child(12) {
  position: absolute;
  top: -80px;
  right: 140px;
  width: 60px;
  height: 60px;
  --i: 4;
}
.containerForm .box {
  margin-left: 1rem;
  border-left: solid 1px rgba(43, 37, 3, 0.8);
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.divColor {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  min-height: 130vh;
  filter: blur(150px);
}
.divColor .color:nth-child(1) {
  background: rgb(212, 11, 231);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-animation: animateColorBg 10s linear infinite;
          animation: animateColorBg 10s linear infinite;
}
.divColor .color:nth-child(2) {
  background: rgb(240, 115, 13);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-animation: animateColorBg 15s linear infinite;
          animation: animateColorBg 15s linear infinite;
}
.divColor .color:nth-child(3) {
  background: yellow;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-animation: animateColorBg 25s linear infinite;
          animation: animateColorBg 25s linear infinite;
}
.divColor .color:nth-child(4) {
  background: rgb(255, 55, 0);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-animation: animateColorBg 30s linear infinite;
          animation: animateColorBg 30s linear infinite;
}
.divColor .color:nth-child(5) {
  background: lightcoral;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-animation: animateColorBg 40s linear infinite;
          animation: animateColorBg 40s linear infinite;
}
.divColor .color:nth-child(6) {
  background: aqua;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-animation: animateColorBg 50s linear infinite;
          animation: animateColorBg 50s linear infinite;
}

/* ---------------------------------formulaire */
.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .drop {
  position: relative;
  width: 350px;
  height: 350px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05), inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 33% 67% 28% 72%/46% 32% 68% 54%; /*https://9elements.github.io/fancy-border-radius/#46.33.32.72--.*/
}
.container .drop:hover {
  border-radius: 50%;
}
.container .drop::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 85px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.9;
}
.container .drop::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.9;
}
.container .drop .content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  gap: 15px;
}
.container .drop .content h2 {
  position: relative;
  -moz-columns: #333;
       columns: #333;
  font-size: 1.5em;
}
.container .drop .content form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .drop .content form .inputBox {
  position: relative;
  width: 225px;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1), inset -2px -5px 10px rgb(255, 255, 255), 15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.025);
  /* autre style sans box-shadow: ; */
  border-radius: 25px;
}
.container .drop .content form .inputBox::before {
  content: "";
  position: absolute;
  left: 50px;
  transform: translateX(-50%);
  width: 65px;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.container .drop .content form .inputBox input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 1rem;
  padding: 10px 15px;
}
.container .drop .content form .inputBox:last-child {
  width: 80px;
}
.container .drop .content form .inputBox button {
  width: 80%;
  color: #000000;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: 500;
  position: relative;
  border-radius: 30px;
  text-align: center;
  padding: 9px 0px;
  border: none;
  outline: none;
  transition: 0.5s;
}
.container .drop .content form .inputBox button:hover::before {
  background: radial-gradient(#000, rgba(0, 0, 0, 0.6705882353), #000000, black);
  box-shadow: 1px 2px 15px #fff;
}
.container .drop .content form .inputBox button:hover {
  letter-spacing: 0.4em;
  width: 100%;
  font-weight: 700;
}
.container .drop .content form .inputBox button::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding-left: 70px;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6705882353), #000000, #fff);
}

/* ----------------------------forgot password  */
.btns {
  position: absolute;
  right: -120px;
  bottom: 0;
  width: 120px;
  height: 120px;
  background: #c61dff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  transition: 0.25s;
  text-align: center;
  box-shadow: inset 10px 10px 10px rgba(190, 1, 254, 0.05), 15px 25px 10px rgba(190, 1, 254, 0.1), 15px 20px 20px rgba(190, 1, 254, 0.1), inset -10px -10px 15px rgba(255, 255, 255, 0.5);
  border-radius: 35% 65% 71% 29%/55% 62% 38% 45%;
}
.btns:hover {
  border-radius: 50%;
}
.btns::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.45;
}

.signup {
  bottom: 150px;
  right: -120px;
  width: 80px;
  height: 80px;
  border-radius: 46% 54% 46% 54%/61% 55% 45% 39%;
  background: #01b4ff;
  box-shadow: inset 10px 10px 10px rgba(1, 180, 255, 0.05), 15px 25px 10px rgba(1, 180, 255, 0.1), 15px 20px 20px rgba(1, 180, 255, 0.1), inset -10px -10px 15px rgba(255, 255, 255, 0.5);
  cursor: unset;
}
.signup::before {
  left: 15px;
  width: 15px;
  height: 15px;
  background: #fff;
}
.signup a {
  text-decoration: none;
}

.home {
  position: relative;
  display: grid;
  grid-template-columns: 25% auto 20%;
  gap: 1rem;
  padding: 0 1rem;
  background: linear-gradient(150deg, transparent, rgba(2, 214, 221, 0.9), transparent);
}

.profileUser {
  position: relative;
  display: grid;
  grid-template-columns: 25% auto 20%;
  gap: 1rem;
  padding: 0 1rem;
  background: linear-gradient(150deg, transparent, rgba(2, 214, 221, 0.9), transparent);
}
.profileUser .Profile-center {
  display: flex;
  justify-content: center;
}

.profileRight {
  margin-top: 5rem;
}

.LogoSearch {
  display: flex;
  gap: 0.75rem;
  margin: 10px 0;
}

.Search {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}

.Search > input {
  background-color: transparent;
  border: none;
  outline: none;
}

.s-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.23deg, #f99827 0%, #f95f35 100%);
  border-radius: 5px;
  padding: 4px;
  color: white;
}

.card {
  position: relative;
  overflow: hidden;
  padding: 3px;
  margin-bottom: 1rem;
  transition: 0.5s;
  border-radius: 2rem;
  max-width: 400px;
}
.card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  background: linear-gradient(transparent, #02d6dd, #02d6dd, #02d6dd, transparent);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}
.card:hover .imgBx {
  transform: scale(1.2);
}
.card:hover .imgProfile img {
  filter: grayscale(0);
}
.card .lines {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 2rem;
}

/* ---------------------------------------img-------------------------------------- */
.imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  height: 450px;
  transition: 0.5s;
  overflow: hidden;
  background: #292929;
}
.imgBx .imgCover {
  max-width: 400px;
}
.imgBx .imgCover img {
  height: 50%;
  max-width: 400px;
}
.imgBx .imgProfile {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  align-items: center;
  padding: 2px;
  background: black;
  border-radius: 50%;
  overflow: hidden;
}
.imgBx .imgProfile::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 300px;
  height: 60px;
  background: linear-gradient(150deg, transparent, rgba(2, 214, 221, 0.9), transparent);
  -webkit-animation: animate2 6s linear infinite;
          animation: animate2 6s linear infinite;
}
.imgBx .imgProfile img {
  width: 130px;
  filter: grayscale(1); /* photo noir blanc*/
  overflow: hidden;
}

/* --------------------------------------------------------info user------------------- */
.contentData {
  overflow: hidden;
  position: absolute;
  top: 45%;
}
.contentData .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}
.contentData .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #02d6dd;
  line-height: 1.2em;
}
.contentData .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: #fff;
}
.contentData .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.contentData .details .data h3 {
  font-size: 1em;
  font-weight: 600;
  color: #02d6dd;
  margin: 0 1rem;
}
.contentData .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  color: #fff;
}
.contentData .details .actionBtn {
  text-align: center;
}
.contentData .details .actionBtn p {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #02d6dd;
}

.containerBtn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 3;
}
.containerBtn .buttonToogle {
  position: relative;
  height: 26px;
  width: 55px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: scale(1.3);
  box-shadow: inset 0px 3px 0px #333;
}
.containerBtn .buttonToogle .ball {
  background: repeating-radial-gradient(#e65c00, #fcfcfc 15px);
  border-radius: 50%;
  height: 23px;
  width: 23px;
  position: absolute;
  top: 3px;
  left: 0px;
  transform: translateX(30px);
  transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.containerBtn.active .ball {
  background: repeating-radial-gradient(#e65c00, #111110 15px);
  transform: translateX(0px);
  transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

.containerBtn.home .ball {
  background: repeating-radial-gradient(#5800e6, #d10ec1 15px);
}

.navigation {
  position: relative;
  min-width: 240px;
  min-height: 100px;
  max-width: 400px;
  border-radius: 30px;
  background: #2f363e;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation li {
  position: relative;
  list-style: none;
  width: 80px;
  margin: 0 5px;
}
.navigation li .containeIconNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}
.navigation li .containeIconNav .icon {
  position: absolute;
  font-size: 1.75em;
  width: 60px;
  height: 60px;
  display: flex;
  color: #02d6dd;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  /* transition-delay: 0.2s; */
}
.navigation li .containeIconNav .icon a {
  color: #02d6dd;
}
.navigation li .containeIconNav .icon::before {
  content: "";
  position: absolute;
  inset: 4px; /*important inset:5px */
  background: #2f363e;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 3px rgba(255, 255, 255, 0.25), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  transform: scale(0);
  /* transition: 0.5s; */
}
.navigation li .containeIconNav .text {
  position: absolute;
  font-size: 0.75em;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s;
  padding: 2px 10px;
  background: #fff;
  border-radius: 15px;
  color: #2f363e;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.navigation li::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #222;
}
.navigation li.active::before {
  background: #02d6dd;
  box-shadow: 0 0 5px #02d6dd, 0 0 10px #02d6dd, 0 0 20px #02d6dd, 0 0 30px #02d6dd, 0 0 40px #02d6dd, 0 0 50px #02d6dd;
}
.navigation li.active .icon {
  transform: translateY(-40px);
  background: linear-gradient(150deg, transparent, rgba(2, 214, 221, 0.9), transparent);
  color: rgba(2, 214, 221, 0.9);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 3px rgba(255, 255, 255, 0.25), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition-delay: 0s; */
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}
.navigation li.active .icon::before {
  transform: scale(1);
}
.navigation li.active .containeIconNav .text {
  opacity: 1;
  transform: translateY(15px);
}

.follower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
}
.follower > div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.follower .followerImage {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}
.follower .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.follower .name > span:nth-of-type(1) {
  font-weight: bold;
}
.follower .fc-button {
  height: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: 2px solid black;
}
.follower .fc-button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.follower .buttonFollow {
  background: #333;
  color: aqua;
  cursor: pointer;
}
.follower .UnfollowButton {
  color: #333;
  cursor: pointer;
  background: transparent;
}

.FollowersCard {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.PostShare {
  background: #fff;
  margin: 10px 0;
  border-radius: 20px;
}
.PostShare .imageAndInput {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.PostShare .imageAndInput img {
  width: 50px;
}
.PostShare .imageAndInput input {
  padding: 10px 0px;
  border-radius: 15px;
  flex-basis: 90%;
}
.PostShare .containeOption {
  display: flex;
  justify-content: flex-end;
}
.PostShare .containeOption .postOptions {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding-bottom: 10px;
}
.PostShare .containeOption button {
  position: relative;
  width: 90px;
}
.PostShare .containeOption button::before, .PostShare .containeOption button::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: 0.5s;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
}
.PostShare .containeOption button:hover::before, .PostShare .containeOption button:hover::after {
  inset: -2px;
}
.PostShare .containeOption button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e1538;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #040a29;
  overflow: hidden; /* pour le .container a span:before*/
}
.PostShare .containeOption button span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.175);
  transform: skew(75deg);
}/*# sourceMappingURL=index.css.map */