.navigation {
  position: relative;
  min-width: 240px;
  min-height: 100px;
  max-width: 400px;
  border-radius: 30px;
  background: #2f363e;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    position: relative;
    list-style: none;
    width: 80px;
    margin: 0 5px;

    .containeIconNav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-decoration: none;
      .icon {
        position: absolute;
        font-size: 1.75em;
        width: 60px;
        height: 60px;
        display: flex;
        // color: $aqua;

        justify-content: center;
        align-items: center;
        transition: 0.5s;
        /* transition-delay: 0.2s; */
        a {
          color: $aqua;
        }
        &::before {
          content: "";
          position: absolute;
          inset: 4px; /*important inset:5px */
          background: #2f363e;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
            inset 2px 2px 3px rgba(255, 255, 255, 0.25),
            inset -3px -3px 5px rgba(0, 0, 0, 0.5);

          border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
          transform: scale(0);
          /* transition: 0.5s; */
        }
      }
      .text {
        position: absolute;
        font-size: 0.75em;
        opacity: 0;
        transform: translateY(20px);
        transition: 0.5s;
        padding: 2px 10px;
        background: #fff;
        border-radius: 15px;
        color: #2f363e;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
          inset -3px -3px 5px rgba(0, 0, 0, 0.5);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #222;
      // transition: 0.5s;
    }

    // &.active::before {
    //   background: $aqua;
    //   box-shadow: 0 0 5px $aqua, 0 0 10px $aqua, 0 0 20px $aqua, 0 0 30px $aqua,
    //     0 0 40px $aqua, 0 0 50px $aqua;
    // }
    // &.active .icon {
    //   transform: translateY(-40px);

    //   background: $aquaBg;

    //   color: $aquaRgba;
    //   box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
    //     inset 2px 2px 3px rgba(255, 255, 255, 0.25),
    //     inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   /* transition-delay: 0s; */
    //   border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    // }
    // &.active .icon::before {
    //   transform: scale(1);
    // }
    // &.active .containeIconNav .text {
    //   opacity: 1;
    //   transform: translateY(15px);
    // }
  }
  li.active {
    &::before {
      background: $aqua;
      box-shadow: 0 0 5px $aqua, 0 0 10px $aqua, 0 0 20px $aqua, 0 0 30px $aqua,
        0 0 40px $aqua, 0 0 50px $aqua;
    }
    & .icon {
      transform: translateY(-40px);

      background: $aquaBg;

      color: $aquaRgba;
      box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 3px rgba(255, 255, 255, 0.25),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      /* transition-delay: 0s; */
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    & .icon::before {
      transform: scale(1);
    }
    & .containeIconNav .text {
      opacity: 1;
      transform: translateY(15px);
    }
  }
}
