.navigation {
  position: relative;
  // min-width: 240px;
  min-height: 100px;
  max-width: 400px;
  border-radius: 30px;
  background: $blackLight;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding-top: 15px;
  flex-wrap: wrap;

  li {
    position: relative;
    list-style: none;
    // width: 80px;
    margin: 0 5px 25px;

    &:hover .icon {
      transform: translateY(-10px);

      background: linear-gradient(
        150deg,
        rgba(2, 214, 221, 0.9),
        $blackLight,
        $blackLight
      );

      box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 3px rgba(255, 255, 255, 0.25),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);

      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    a {
      color: $aqua;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-decoration: none;

      // margin-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #333333;
      }

      .icon {
        font-size: 1.75em;
        width: 60px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
      }
    }

    a.active::before {
      box-shadow: 0 0 1px $aqua, 0 0 5px $aqua, inset 0 0 1px,
        inset 0 0 5px $aqua, inset 0 0 7px $aqua;
    }

    .text {
      font-size: 0.75em;

      transition: 0.5s;
      padding: 2px 10px;
      background: #fff;
      border-radius: 15px;
      color: #2f363e;
      box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    }
  }
}
